/* Regular */

@font-face {
  font-family: "Poppins-Thin";
  src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("./assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("./assets/fonts/Poppins-Black.ttf") format("truetype");
}

/* Italic */

@font-face {
  font-family: "Poppins-ThinItalic";
  src: url("./assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLightItalic";
  src: url("./assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-LightItalic";
  src: url("./assets/fonts/Poppins-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Italic";
  src: url("./assets/fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-MediumItalic";
  src: url("./assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBoldItalic";
  src: url("./assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-BlackItalic";
  src: url("./assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
}

body,
#root {
  background-color: rgb(241, 242, 246);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
